<template>

  <div>
    <img :src="imgLogo" style="margin: 15px 30%"/>
    <!--{{choiseGr}}-->
    <!--<el-container>-->
      <!--<el-header style="background-color: #3b4755; height: 110px;">-->

          <!--<el-col style="width: 260px !important;">-->
            <!--<img :src="imgLogo" style="margin: 15px 30%"/>-->
          <!--</el-col>-->
          <!--<el-row>-->
          <!--<el-col :md="16" :xl="14">-->
            <!--<div style="width: 80%; margin:40px auto 30px auto">-->
              <!--<el-input size="small"-->
                        <!--:autofocus="true"-->
                        <!--v-model="searchText"-->
                        <!--@input="onChange"-->
                        <!--clearable>-->
              <!--</el-input>-->
            <!--</div>-->
          <!--</el-col>-->
          <!--<el-col :md="3" :xl="2" style="color: rgba(255, 255, 255, 1); font-size: 14px; margin: auto 0 auto 0; line-height:100%">-->



            <!--<div style="height:110px; line-height:110px; text-align:center;">-->
              <!--<span v-if="userauth">{{ userauth }}</span>-->
              <!--<span v-else type="botton" @click="loginDialogVisible=true; cardCont=false; searchText=''"-->
                    <!--style="cursor: pointer; font-size: 20px;">-->
                <!--<el-tooltip class="item" effect="light" content="Войти" placement="bottom">-->
                  <!--<i class="el-icon-user-solid"></i>-->
                <!--</el-tooltip>-->
              <!--</span>-->


              <!--<span type="botton" v-if="userauth"-->
                    <!--@click="logout"-->
                    <!--style="cursor: pointer; font-size: 20px;">&nbsp;&nbsp;-->
                <!--<el-tooltip class="item" effect="light" content="Выйти" placement="bottom">-->
                  <!--<i class="el-icon-user"></i>-->
                <!--</el-tooltip>-->
                <!--</span>-->
            <!--</div>-->


            <!--<el-dialog title="Вход / Регистрация" :visible.sync="loginDialogVisible" width="40%" center>-->

              <!--<login-card @loginDialog='loginDialogVisible=$event'-->
                          <!--@userAuth='userauth=$event'-->
                          <!--@updateUser="getUsername"-->
                          <!--@updateDiv="getDivisions"-->
              <!--&gt;</login-card>-->
            <!--</el-dialog>-->

          <!--</el-col>-->
        <!--</el-row>-->
      <!--</el-header>-->
      <!--&lt;!&ndash;{{divisions}}&ndash;&gt;-->
      <!--&lt;!&ndash;{{directForDiv}}&ndash;&gt;-->
      <!--&lt;!&ndash;ghhjk{{choiseGr}}&ndash;&gt;-->
      <!--&lt;!&ndash;{{userDir}}&ndash;&gt;-->
      <!--<el-container style="height: 850px">-->

        <!--&lt;!&ndash;левое меню&ndash;&gt;-->
        <!--<el-aside width="280px" style="margin-top: 1px">-->
          <!--<left-menu :allGroup="mailingGroup" ref="left-menu-comp"-->
                     <!--@loginDialog='loginDialogVisible=$event'-->
                     <!--@addCont="addCont=$event"-->
                     <!--@direct="directory=$event"-->
                     <!--@addDir="addDir=$event"-->
                     <!--@addDiv="addDiv=$event"-->
                     <!--@delDiv="delDiv=$event"-->
                     <!--@cardCont="cardCont=$event"-->
                     <!--@dirForFindCont="groupForFindUserContact=$event"-->
                     <!--@group="group=$event"-->
                     <!--@addGr="addGr=$event"-->
                     <!--@choiseGr="choiseGr=$event"-->
                     <!--@userDir="userDir=$event"-->
                     <!--@selectDir="directForDiv=$event"-->
                     <!--@updateDiv="getDivisions"-->
                     <!--@getCont="getContact"-->
                     <!--@visibleFM="visibleFormMes=$event"-->
                     <!--@upCard="upCard=$event"-->
                     <!--@sendMes="message=$event" ></left-menu>-->
        <!--</el-aside>-->


        <!--<el-main v-loading="loading">-->
          <!--<div style="margin-top: 20px">-->
            <!--&lt;!&ndash;удалить подразделение&ndash;&gt;-->
            <!--<div v-if="delDiv">-->
              <!--<del-division :divis="divisions"-->
                            <!--@delDiv="delDiv=$event"-->
                            <!--@updateDiv="getDivisions">-->
              <!--</del-division>-->
            <!--</div>-->

            <!--&lt;!&ndash;добавить подразделение&ndash;&gt;-->
            <!--<div v-if="addDiv">-->
              <!--<add-divison :divis="divisions"-->
                           <!--:direct="directory"-->
                           <!--@addDiv="addDiv=$event"-->
                           <!--@addCont="addCont=$event"-->
                           <!--@updateDiv="getDivisions">-->
              <!--</add-divison>-->
            <!--</div>-->

            <!--&lt;!&ndash;редактировать группу&ndash;&gt;-->
            <!--<div v-if="group">-->
              <!--<group :choise="choiseGr"-->
                     <!--:visible="visibleFormMes"-->
                     <!--@updateAllGroups="getGroup"-->
                     <!--@group="group=$event"-->
                     <!--@choiseGr="choiseGr=$event"-->
                     <!--@visibleFM="visibleFormMes=$event">-->
              <!--</group>-->
            <!--</div>-->

            <!--&lt;!&ndash;создать группу&ndash;&gt;-->
            <!--<div v-if="addGr">-->
              <!--<add-group :addGr="userGroup"-->
                         <!--@addGr="addGr=$event"-->
                         <!--@updateAllGroups="getGroup">-->
              <!--</add-group>-->
            <!--</div>-->

            <!--&lt;!&ndash;добавить директорию&ndash;&gt;-->
            <!--<div v-if="addDir">-->
              <!--<add-direct-->
                <!--@addDir="addDir=$event">-->
              <!--</add-direct>-->
            <!--</div>-->

            <!--&lt;!&ndash;добавить контакт&ndash;&gt;-->
            <!--<div v-if="addCont">-->
              <!--<add-contact :direct="directory"-->
                           <!--:divis="divisions"-->
                           <!--@addCont="addCont=$event"-->
                           <!--@addDiv="addDiv=$event"-->
              <!--&gt;-->
              <!--</add-contact>-->
            <!--</div>-->

            <!--&lt;!&ndash;изменение контакта&ndash;&gt;-->
            <!--<div v-if="upCard">-->
              <!--<update-card :contact="upContact" @success="" @upCard="upCard=$event"></update-card>-->
            <!--</div>-->

            <!--&lt;!&ndash;отправить сообщение&ndash;&gt;-->
            <!--<div v-if="message">-->
              <!--<send-message :typeMes="typeMessage"-->
                            <!--:addrMes="addressMessage"-->
                            <!--:recipient="recipientMes"-->
                            <!--@sendMes="message=$event">-->

              <!--</send-message>-->
            <!--</div>-->

            <!--&lt;!&ndash;список карточек контактов&ndash;&gt;-->
            <!--<ul id="contact-list" style=" ">-->
              <!--&lt;!&ndash;width: 60%;margin: auto&ndash;&gt;-->
              <!--<div v-if="cardCont">-->
                <!--<div v-for="contact in contacts">-->
                  <!--<phone-card :contact="contact"-->
                              <!--:directorys="userDir"-->
                              <!--@choiseGr="choiseGr=$event"-->
                              <!--@group="group=$event"-->
                              <!--@upCard="upCard=$event"-->
                              <!--@upContact="upContact=$event"-->
                              <!--@cardCont="cardCont=$event"-->
                              <!--@updateAllGroups="getGroup"-->
                              <!--@sendMes="message=$event"-->
                              <!--@nameMes="recipientMes=$event"-->
                              <!--@typeMes="typeMessage=$event"-->
                              <!--@addrMes="addressMessage=$event">-->

                  <!--</phone-card>-->
                <!--</div>-->
              <!--</div>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</el-main>-->
      <!--</el-container>-->

      <!--&lt;!&ndash;<el-footer>&ndash;&gt;-->
      <!--&lt;!&ndash;</el-footer>&ndash;&gt;-->
    <!--</el-container>-->
  </div>
</template>

<script>
  import axios from 'axios';
  // import imgLogo from "../../static/image/logo.png";
  import imgLogo from "../assets/logo.png";


  export default {
    components: {
     imgLogo
    },
    name: "StartPage",

    data() {

      return {
        imgLogo: imgLogo
      };

    },

    methods: {


    },
    mounted() {
      // this.getDivisions();
      // this.getUsername();
      // this.getGroup();
    }
  }
</script>

<style scoped>

</style>
