<template>
  <div id="app">
        <router-view>

        </router-view>
  </div>
</template>

<!--<template>-->
  <!--<div id="app">-->
    <!--<img src="./assets/logo.png">-->
    <!--<MainPage/>-->
  <!--</div>-->
<!--</template>-->

<script>
 import axios from 'axios';
 import AppHeader from "./components/app-header";

export default {
  name: 'App',
  components: {
    AppHeader,
  }
}

</script>

<style>

</style>
