<template>
  <v-app id="App_start">
      <div class="hello">
    <h1>{{ msg }}</h1>


  </div>
  </v-app>

</template>

<script>
import axios from 'axios';
// import { HTTP } from './common'

export default {
  name: 'app',
  data () {
    return {
      msg: 'Привет Настя'
    }
  },
  methods: {
      // getOffice() {
      //     axios.post("/notes/"
      //     ).then((response) => {
      //       debugger
      //       let division = response.data.divisions
      //       this.divisions = []
      //       for (var divis in division)
      //         this.divisions.push({"title": division[divis].title})
      //     })
      //       .catch(function (error) {
      //       })
      //   },

    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
